{{#if posts.length}}
  {{#each posts as |post|}}
    <div class="card">
      <a href="/post/{{post.id}}">
        <header class="card-header">
          <p class="card-header-title is-5">{{post.title}}
            <span class="card-header-title is-6" id="posted-by">Posted by
              {{post.user.username}}
              on
              {{format_date post.created_at}}</span></p>
        </header>
      </a>
      <div class="card-content">
        <p>{{post.contents}}</p>
      </div>
    </div>
  {{/each}}
{{else}}
  <div>
    <h2 class="is-size-2">There are no posts to display!</h2>
  </div>
{{/if}}